
        
        <div class="bg bg-anime"></div>
        <div class="bg bg-anime"></div>
        <div class="col-xs-12 p-2 mt-3 end-xs"> 
            <div class="header-image-wrapper">
                <div class="bg bg-anime"></div>
                <div class="mask"></div>            
                <div class="header-image-content home-page offset-bottom">
                    <h1 class="title">Find your house</h1>
                    <p class="desc">Leading Real Estate Company</p>
                    <div class="mt-4">
        </div> 
        
      
        <button class="mdc-button mdc-button--raised next-tab mdc-ripple-upgraded" mat-raised-button  (click)="OnAddLogement()" type="button" >
            <span class="mdc-button__ripple"></span> 
            <span class="mdc-button__label">Add Logement</span> 
            
        </button> 
          </div>
    </div>



</div>  
 

