

<main class="">   
    <div class="overlay">  
       
            
                <div class="mdc-card p-3"> 
                    <div class="mdc-tab-bar-wrapper submit-property">  
                        <div class="mdc-tab-bar mb-3">
                            <div class="mdc-tab-scroller">
                                <div class="mdc-tab-scroller__scroll-area mdc-tab-scroller__scroll-area--scroll" style="margin-bottom: 0px;">
                                    <div class="mdc-tab-scroller__scroll-content">
                                        <div class="tab-content tab-content--active">  
                                            
                                        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
                                  

                                             <form action="javascript:void(0);" id="sp-basic-form" class="row">  

                                                         <div class="mdc-text-field mdc-text-field--outlined">
                                                          <input class="mdc-text-field__input" id="username"  ngModel [(ngModel)]="body.nom" name="username">
                                                          <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                                                            <div class="mdc-notched-outline__leading"></div>
                                                              <div class="mdc-notched-outline__notch">
                                                             <label class="mdc-floating-label" >username</label>
                                                                </div>
                                                             <div class="mdc-notched-outline__trailing"></div>
                                                             </div>
                                                             </div> 
                                               
                                                
                                                
                                                    <div class="mdc-text-field mdc-text-field--outlined">
                                                     <input class="mdc-text-field__input" id="password"  ngModel [(ngModel)]="body.password" name="password">
                                                     <div class="mdc-notched-outline mdc-notched-outline--upgraded">
                                                       <div class="mdc-notched-outline__leading"></div>
                                                         <div class="mdc-notched-outline__notch">
                                                        <label class="mdc-floating-label" >password</label>
                                                           </div>
                                                        <div class="mdc-notched-outline__trailing"></div>
                                                        </div>
                                                        </div> 
                                          
                                             </form>
                                             <div class="col-xs-5 p-2 mt-3 end-xs"> 
                                                <button class="mdc-button mdc-button--raised next-tab mdc-ripple-upgraded" (click)="OnLogIn()" type="button">
                                                    <span class="mdc-button__ripple"></span> 
                                                    <span class="mdc-button__label">Submit</span> 
                                                    
                                                </button>  
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

           
       
    </div>
    
</main>

