<div class="properties-wrapper row"> 

    <div class="row item col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3"*ngFor="let l of Logements"  background-color: grey> 
        <div class="mdc-card property-item grid-item column-4 full-width-page" >
            <div class="thumbnail-section">
                <div class="row property-status">
                    <span class="green">For Sale</span> 
                </div> 
                <div class="property-image"> 
                    <div class="swiper-container">
                        <div class="swiper-wrapper"> 
                           
                                <img src="http://localhost:8083/Stage/Logement/Imgarticles/{{l.idLogement}}"  alt="">
                              
                        </div>  
                        <div class="swiper-pagination white"></div>  
  
                    </div>  
                </div> 

            </div>
            <div class="property-content-wrapper"> 
                <div class="property-content">
                    <div class="content">
                        <h1 class="title"><a href="#">Modern and quirky flat</a></h1>
                        <p class="row address flex-nowrap">
                            <i class="material-icons text-muted">location_on</i>
                            <span>{{l.adresse}}</span>
                        </p>
                        <div class="row between-xs middle-xs">
                            <h3 class="primary-color price">
                                <span>$0{{l.prix}} /month</span> 
                            </h3> 
                          
                        </div>
                        <div class="d-none d-md-flex d-lg-flex d-xl-flex">
                            <div class="description mt-3"> 
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat modi dignissimos blanditiis accusamus, magni provident omnis perferendis laudantium illo recusandae ab molestiae repudiandae cum obcaecati nulla adipisci fuga culpa repellat!</p>
                            </div>
                        </div>
                       
                        <div class="features mt-3">
                            <p><span>Bedrooms</span><span>{{l.nbrChambre}}</span></p>
                        </div>   
                    </div> 
                    <div class="grow"></div>
                    <div class="actions row between-xs middle-xs">
                        <p class="row date mb-0">
                            <i class="material-icons text-muted">date_range</i>
                            <span class="mx-2">{{l.dateDebut}}</span>
                          
                        </p> 
                        <button class="mdc-button mdc-button--raised next-tab mdc-ripple-upgraded" mat-raised-button  (click)="OnAddContrat()" type="button">
                            <span class="mdc-button__ripple"></span> 
                            <span class="mdc-button__label">Demande Logement</span> 
                            
                        </button>  
                        
                    </div>
                </div>  
            </div> 
        </div>                  
    </div> 
 


